<div >
    <h1 mat-dialog-title class=" pb-2">Edit Employee</h1>
    <form [formGroup]="employeeForm" >
        <div mat-dialog-content>
            <mat-form-field appearance="outline">
                <mat-label>name</mat-label>
                <input formControlName="empName" matInput placeholder="Type Your name">
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="empEmail" matInput placeholder="Type Your Email">

            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <textarea formControlName="empAddress" matInput placeholder="Type Your Address"></textarea>
            </mat-form-field>

    
            <mat-form-field appearance="outline">
                <mat-label>Phone</mat-label>
                <input formControlName="empPhone" matInput placeholder="Type Your phone">

            </mat-form-field>
        </div>
    </form>

    <div mat-dialog-actions align="end">
        <button  mat-button mat-dialog-close>Cancel</button>
        <button  mat-raised-button type="submit" (click)="editEmployee()" [disabled]='employeeForm.invalid'>Edit</button>
    </div>
</div>